@model Book

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Book";   
}

<h2>Edit</h2>

<form asp-action="Edit" method="post">

    <input asp-for="ISBN" type="hidden" />
    <input asp-for="BookId" type="hidden" />

    
        <div class="mb-3">
        <label asp-for="Title" class="form-label" for="Title"> Title </label>
            <br/>
        <input asp-for="Title" class="form-control" type="text" id="Title" name="Title">
        </div>

        <div class="mb-3">
        <label asp-for="Price" class="form-label" for="Price"> Price </label>
            <br/>
        <input asp-for="Price" class="form-control" type="text" id="Price" name="Price">
        </div>

        <select asp-for="AuthorId" class="form-select">
            <option value=@ViewBag.SelectedAuthorByName>select an Author</option>
            @foreach (Author a in ViewBag.Authors)
            {
                <option value="@a.AuthorId">@a.FirstName @a.LastName</option>
            }
        </select>
        </div>



        </div>
        <div class="mb-3">
            <label asp-for="GenreId" class="form-label">Genre</label>
            <select asp-for="GenreId" class="form-select">
                <option value=@ViewBag.SelectedGenreByName>select a genre</option>
                @foreach (Genre g in ViewBag.Genres)
                {
                    <option value="@g.GenreId">@g.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary"> Update </button>
        <a asp-controller="Book"  asp-action="Index" class="btn btn-primary"> Cancel </a>
</form>
